body{
    margin: 0;
    padding: 0;
    background-color: ccc;
    border: 0;
    overflow-x: hidden;
    

}

          /*Inicio Cabeçalho*/
.cabecalho{
    background-color: #fa7f72;
    padding-top: 5px;
    position: relative;
    width: 100%;
    height: 60px;
    
}



.caixa_cabecalho{
    
    position: relative;
    height: 60px;
}



.logo{
 
  width: 5%;
  height: 91%;
  position: relative;
  left: 50%;
  cursor: pointer;
}

/*FIm cabeçalho*/

/*Inicio Cadastro*/

.cadastro{
    position: relative;
    width: 40%;
    color: #fa7f72 ;
    top: 15px;
    left: 10%;
}

.caixa_cadastro{
    position: relative;
    background-color: white;
    box-shadow: 10px 10px 10px 7px #ccc;
    padding: 10% 0%;
    border-radius: 20px;
    height: 40%;
	
    left: 10%;
    top: 8%;
    color: #fa7f72;;
    font-family: Copperplate;
    

}

.div_cadastro{
    padding-top: 10px;
    
}

.inp_padrao{
    float: right;
    position: relative;
    right: 101px;
    width: 58%;
    border-radius: 15px;
    border: 2px solid #fa7f72 ;
    color: #fa7f72;
}

.btn_padrao{
    position: relative;
    left: 50%;
    margin-top: 15px;
    border: 2px solid #fa7f72;
    color: #fa7f72;
    
}