body{
    margin: 0;
    padding: 0;
    background-color: white;
    border: 0;
    overflow-x: hidden;
    

}

          /*Inicio Cabeçalho*/
.cabecalho{
    background-color: #fa7f72;
    padding-top: 5px;
    position: relative;
    width: 100%;
    height: 60px;
    
}



.caixa_cabecalho{
    
    position: relative;
    height: 60px;
}



.logo{
 
  width: 5%;
  height: 91%;
  position: relative;
  left: 4%;
}



.caixa_cabecalho .iconeperfil {
  width: 3%;
  height: 70%;
  left: 86%;
  position: relative;
}

.iconeperfil{
  top: -9px;
}



.caixa_cabecalho input{
    position: relative;
    margin-left: 55%;
    top: -75px;
    left: 10%;
   
}





.caixa_login{
    display: inline-block;
    background-color: white;
    box-shadow: 10px 10px 10px 7px #ccc;
    padding: 17px 18px 0px 28px;
    border-radius: 20px;
    width: 250px;
    height: 350px;
    position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    left: 75%;
    top: 8%;
    color: #fa7f72;;
    font-family: Copperplate;
    text-align: center;
}

.caixa_login:target{
    opacity:1;
	pointer-events: auto;

}

.inp_janela{
    border-radius: 15px;
    border:  2px solid #fa7f72;;
    width: 200px;
}

.btn_entrar{
    border: 2px solid #fa7f72;
    border-radius: 6px;
    color: #fa7f72;
    
}

.close_janela{
    background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	border-radius: 12px;

}

.icone_img{
    cursor: pointer;
}



.close_janela:after {
	content: "\d7";
}

.close_janela:hover { 
	background: #f00; 
}

/*Fim Cabeçalho*/

/*Inicio Parte Superior*/

.parte_superior{
    text-align: center;
    position: relative;
   
   

}

.img_superior{
    position: relative;
    width: 100%;
    height: 484px;
}

.supreme{
    
    width: 100%;
}


.btn_padrao {
    background-color: #fa7f72;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }

  
  .div_btn {
    position: relative;
    display: inline-block;
  }
  
  .div_link_tenis {
    display: none;
    position: absolute;
    background-color: #fa7f72;
    min-width: 160px;
    z-index: 1;
  }
  
  .div_link_tenis b {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .div_link_tenis b:hover {
      background-color: #f1f1f1;
      color: #fa7f72;
      cursor: pointer;
    }
  
  .div_btn:hover .div_link_tenis {
    display: block;
  }

  /*FIm Parte superior*/

  /*Inicio Compra de Tenis*/

  .div_comprar{
    width: 100%;
    height: 2000px;
    padding-top: 10%;
  }

  .div_comprar .pesquisa{
    text-align: center;
    position: relative;
  }
  .lista{
    position: relative;
    width: 100%;
    height: 2000px;
    margin: 10px
  }

	
	.lista li{
		margin: 0px;
		display: inline-block;
		padding: 15px;
	}

 

  .texto{
    color:  #fa7f72;
  text-shadow: 2px 0 #fffdd0;

  }

  .btn_comprar{
    background-color: #fa7f72;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }

  li{
    list-style: none;
    width: 100%;
  }

  .img_tenis{
    width: 70%;
    height: 70%;
    text-align: center;
  }

  .sneakers{
    position: relative;
    left: 10%;
    top: -15px;
    width: 15%;
  }

  .rodape{
    padding-bottom: 10px;
    bottom: 0;
    padding-top: 0px;
    background: #fa7f72;
    width: 100%;
    height: 20%;
    color: white;
  }

  .caixa_rodape{
    width: 100%;
  }
  

